.header .row{
    max-width: 1200px;
    margin: auto;
    text-align: right;
    height: 40px;
    color: #fff;
    display: none;
}
.header .wrap:nth-child(1){
    background-color: #000;
}
.header .row i{
    padding: 0 20px;
}
.header .row span{
    color: #ccc;
    padding-right: 5px;
}
.header .row a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 40px;
    padding: 0 5px;
}


#menu_control{
    position: absolute;
    z-index: 2;
}
.header .wrap{
    width: 100%;
    background-color: #ccc;
}
.header .menu{
    height: 50px;
    position: relative;
}
.logo{
    margin: 10px;
}
.logo img{
    display: block;
}
.menu_btn{
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
}
.menu_btn span{
    opacity: 0;
    width: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
}
.menu_btn::before{
    content: '';
    position: absolute;
    height: 2px;
    left: 2px;
    width: 36px;
    background-color: #000;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 8px 0px #000,
    0px -8px 0px #000;
}
.menu nav{
    width: 80%;
    height: calc(100vh - 50px);
    background-color: #fcc;
    position: absolute;
    top: 50px;
    left: -100%;
    transition: .5s;
    z-index: 2;
}
.menu nav a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-bottom: 1px solid black;
}
.menu .free{
    display: none;
}
#menu_control:checked ~ .header .menu nav{
    left: 0;
}


.banner{
    background-color: #00142d;
}
.banner .wrap{
    display: flex;
    flex-wrap: wrap;
}
.banner .pic img{
    width: 100%;
}
.banner .txt{
    bottom: 10px;
    text-align: center;
    color: #fff;
    padding: 10px;
    line-height: calc(5px + 2ex + 5px);
    font-weight: bold;
}
.banner .txt h1{
    font-size: 30px;
    line-height: 1.5;
}
.banner .txt p{
    font-size: 16px;
}
.banner .free{
    background-color: #0061FF;
    border-radius: 30px;
    padding: 8px 17px;
    text-align: center;
}
.banner .free{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.title{
    background-color: #fff;
    /* width: 1200px; */
    margin: auto;
    text-align: center;
    padding: 10px;
}
.title h2{
    font-size: 28px;
    line-height: 1.5;
    padding: 70px 0 30px;
    font-weight: bold;
}
.title p{
    font-size: 16px;
    line-height: 2;
    padding: 0 10px;
    padding-bottom: 70px;
}


.about .row .pic img{
    width: 100%;
}
.about .row .txt{
    padding: 0 20px;
}
.about .row .txt h2{
    font-size: 28px;
    line-height: 1.5;
}
.about .row .txt p{
    font-size: 16px;
    line-height: 2;
}
.about .row .list{
    padding: 20px 0;
}
.about .row .list div{
    padding: 10px 0px;
}
.about .row .list div::before{
    content: '\f058';
    color: #0061FF;
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    padding-right: 10px;
}
.about .wrap .row{
    padding: 40px 0;
}
.about .wrap .row:not(:first-child){
    border-top: 1px dotted #666;
}
.about .txt a{
    color: blue;
}



@media screen and (min-width:768px) {
    .header .menu{
        display: flex;
        justify-content: space-between;
        background-color: #ccc;
        align-items: center;
    }
    .list{
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0px;
    }
    .list div{
        width: 50%;
    }
    
}

@media screen and (min-width:992px) {
    .menu_btn{
        display: none;
    }
    .menu nav a{
        border-bottom: none;
    }
    .header .row{
        width: 960px;
        display: block;
    }
    .header .menu{
        width: 960px;
        margin: auto;
    }
    .header nav{
        position: relative;
        left: 0;
        display: flex;
        width: auto;
        height: auto;
        top: 0;
        background-color: transparent;
        flex-grow: 1;
    }
    .menu .free{
        display: inline-block ;
        background-color: blue;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
    }
    .menu .free a{
        color: #fff;
        text-decoration: none;
        font-size: 15px;
    }
    .menu nav a{
        padding: 0 10px;
    }
    .banner{
        width: 100%;
        padding: 120px 0;
    }
    .banner .wrap{
        width: 960px;
        margin: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    .banner .txt{
        text-align: left;
        margin: 80px 0;
        padding: 10px;
    }
    .banner .wrap h1{
        margin: 0 0 20px
    }
    .banner .txt p{
        margin: 30px 0;
    }
    .about .wrap{
        width: 960px;
        margin: auto;
        font-size: 0;
    }
    .about .wrap .row:nth-child(odd){
        direction: rtl;
    }
    .about .pic,.about .txt{
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        padding: 1em;
        font-size: 16px;
        line-height: 2;
        vertical-align: middle;
        direction: ltr;
    }
    .about .wrap .row:nth-child(even) .txt{
        text-align: left;
    }

}

@media screen and (min-width:1200px) {
    .header .row{
        width: 1200px;
        display: block;
    }
    .header .menu{
        width: 1200px;
        margin: auto;
    }
    .banner .wrap{
        width: 1200px;
    }
    .about .wrap{
        width: 1200px;
    }

}