/* .header .row {
    width: 1200px;
    margin: auto;
    text-align: right;
    height: 40px;
    color: #fff;
}
.header .wrap:nth-child(1){
    background-color: #000;
}
.header .row i{
    padding: 0 20px;
}
.header .row span{
    color: #ccc;
    padding-right: 5px;
}
.header .row a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 40px;
    padding: 0 5px;
} */

#menu_control{
    position: absolute;
    z-index: 2;
}
.header .menu{
    height: 50px;
    background-color: #ccc;
    position: relative;
}
.logo{
    width: 60px;
    height: 40px;
    margin-left: 10px;
}
.logo img{
    display: block;
}
.menu_btn{
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
}
.menu_btn span{
    opacity: 0;
    width: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
}
.menu_btn::before{
    content: '';
    position: absolute;
    height: 2px;
    left: 2px;
    width: 36px;
    background-color: #000;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 8px 0px #000,
    0px -8px 0px #000;
}
.menu nav{
    width: 80%;
    height: calc(100vh - 50px);
    background-color: #fcc;
    position: absolute;
    top: 50px;
    left: -100%;
    transition: .5s;
    z-index: 2;
}
.menu nav a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-bottom: 1px solid black;
}
.menu .free{
    display:inline-block ;
    background-color: blue;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
.menu .free a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
#menu_control:checked ~ .header .menu nav{
    left: 0;
}

@media screen and (min-width:768px) {
    .menu_btn{
        display: none;
    }
    .header .menu{
        display: flex;
        justify-content: space-between;
        background-color: #ccc;
        align-items: center;
    }
    .menu nav{
        position: relative;
        left: 0;
        display: flex;
        width: auto;
        height: auto;
        top: 0;
        background-color: transparent;
    }
    .menu nav a{
        border-bottom: none;
    }
}


.banner{
    position: relative;
}
.banner .pic img{
    width: 100%;
    height: 600px;
}
.banner .txt{
    position: absolute;
    bottom: 10px;
    text-align: center;
    color: #fff;
    padding: 10px;
    line-height: calc(5px + 2ex + 5px);
}
.banner .txt h1{
    font-size: 30px;
    line-height: 1.2;
}
.banner .txt p{
    font-size: 16px;
}
.banner .free{
    background-color: #0061FF;
    border-radius: 30px;
    padding: 8px 17px;
    text-align: center;
}
.banner .free{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}



.title{
    text-align: center;
    margin: 20px 0 10px;
    padding: 0 10px;
}
.title h2{
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 10px;
}
.title p{
    font-size: 16px;
    line-height: 2;
}


.about .pic img{
    width: 100%;
}
.about .row{
    padding: 40px 10px;
}
.about .row:not(:first-child){
    border-top: 1px dotted #666;
}


.service{
    background-color: #f4f5f7;
}
.service h3{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 40px 0;
}
.service section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px; 
}
.service .item{
    text-align: center;
    width: calc((100% - 60px) / 2);
    margin-bottom: 60px;
}
.service .item:nth-of-type(2n+1){
    margin-left: 0;
}
.service section img{
    background-color: #fff;
    border-radius: 50%;
}
.service section h4{
    font-size: 20px;
}
.service section .item p{
    font-size: 16px;
    text-align: justify;
}
.service .wrap{
    line-height: calc(5px + 2ex + 5px);
}

